*.log
*.out
.DS_Store
.idea
.exercism
.mypy_cache/
.lein-failures
.nrepl-port
CMakeFiles/
CMakeCache.txt
__pycache__/
bin/
box.json
cmake_install.cmake
node_modules/
obj/
tmp/
testbox/
target/
cpp/**/test
.dub/
hello-world-test-library
pubspec.lock
.packages
.dart_tool
elm-stuff
_build
*.beam
